<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_515_ZF_LabelPrinter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_515_ZF_LabelPrinter.Properties.Settings>
            <setting name="OutputPathForInputKardex" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputPathForOutputKardex" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLUser" serializeAs="String">
                <value>jhv</value>
            </setting>
            <setting name="SQLPassword" serializeAs="String">
                <value>2708</value>
            </setting>
            <setting name="SQLServerUrl" serializeAs="String">
                <value>.\SQLEXPRESS</value>
            </setting>
            <setting name="SQLDatabaseName" serializeAs="String">
                <value>515_ZF</value>
            </setting>
            <setting name="AutomaticApplicationStart" serializeAs="String">
                <value>False</value>
            </setting>
        </_515_ZF_LabelPrinter.Properties.Settings>
    </userSettings>
</configuration>